$font-family-primary: "Raleway", sans-serif;
$font-family-secondary: "Comfortaa", sans-serif;

$color-bg-body-index: #FBFCFE;
$color-bg-footer-header: #F1F6FC;

$color-accent-primary: #6A107A;
$color-accent-secondary: #0F805D;

$color-text-primary: #000000;
$color-text-secondary: #FBFCFE;

$breakpoint-medium: 768px;
$breakpoint-large: 1300px;
$breakpoint-small-down: 767px;
