.catalog {
  @include breakpoint-mobile {
    margin-bottom: 65px;
  }
}

// .catalog__container {
//   @include container;
// }

.catalog__title {
  @include breakpoint-mobile {
    margin-bottom: 70px;
  }

  @include breakpoint-tablet {
    margin-bottom: 72px;
  }

  @include breakpoint-desktop {
    margin-bottom: 92px;
  }
}
.catalog__list {
  @include reset-list;
  display: grid;

  @include breakpoint-mobile {
    padding: 0 2px;
    gap: 24px;
  }

  @include breakpoint-tablet {
    grid-template-columns: repeat(auto-fit,264px);
    gap: 52px;
    padding-left: 67px;
    padding-right: 69px;
  }

    @include breakpoint-desktop {
    grid-template-columns: repeat(auto-fit,264px);
    gap: 52px 24px;
    padding-left: 0;
    padding-right: 0;
  }
}

