.contacts {
  @include breakpoint-mobile {
    padding: 104px 0 0;

    .page__body--catalog & {
      padding: 94px 0 0;
      margin-left: -10px;
      margin-bottom: 65px;
    }
  }

  @include breakpoint-tablet {
    padding: 114px 0 0;
  }

  @include breakpoint-desktop {
    display: flex;
    flex-flow: row-reverse wrap-reverse;
    gap: 10px;
    justify-content: space-between;
    width: 1128px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 142px 2px 0;

    .page__body--catalog & {
      margin-right: 163px;
    }
  }
}

.contacts__content {
  @include breakpoint-mobile {
    margin-bottom: 24px;
  }

  @include breakpoint-tablet {
    margin-bottom: 40px;
    padding: 0 101px 0 86px;
  }

  @include breakpoint-desktop {
    @include container($width-desktop:553px) {
      margin: 0;
    }

    padding: 0;
  }
}

.contacts__title {
  @include breakpoint-mobile {
    margin-bottom: 70px;

    .page__body--catalog & {
      margin-bottom: 62px;
    }
  }

  @include breakpoint-tablet {
    margin-bottom: 72px;
    padding: 0 40px;
  }
}

.contacts__text {
  text-align: center;

  @include breakpoint-mobile {
    margin: 0 0 34px;
    padding: 0 40px;
    font-size: 16px;
    line-height: 19px;

    .page__body--catalog & {
      margin-left: 5px;
      padding: 0 45px;
    }
  }

  @include breakpoint-tablet {
    margin: 0 0 20px 7px;
    font-size: 20px;
    line-height: 24px;
  }

  @include breakpoint-desktop {
    padding: 0 0 0 50px;
  }
}

.contacts__list {
  display: grid;
  gap: 12px;

  @include reset-list;

  @include breakpoint-mobile {
    padding: 0 25px;

    .page__body--catalog & {
      padding: 0 35px;
    }
  }

  @include breakpoint-tablet {
    padding-left: 67px;
    margin-left: 27px;

    .page__body--catalog & {
      margin-left: 25px;
    }
  }

  @include breakpoint-desktop {
    padding: 0 100px 0 75px;

    .page__body--catalog & {
      padding: 0 100px 0 81px;
    }
  }
}

.contacts__link {
  display: grid;
  grid-template-columns: 32px 1fr;
  gap: 4px;
  align-items: center;

  @include link (
    $fz-mobile: 14px,
    $fz-tablet: 16px,
    $lh-mobile: 16px);

  &-text--telephone {
    letter-spacing: -0.5;
  }
}

.contacts__figure {
  margin: 0;
}

.contacts__map {
  display: block;
  height: 372px;
  width: 100%;
  border: none;

  @include breakpoint-desktop {
    width: 553px;
  }
}
