.field {
  line-height: 125%;
  display: grid;

  @include breakpoint-mobile {
    gap: 5px;
  }

  @include breakpoint-tablet {
    gap: 4px;
  }
}

.field__title {
  @include breakpoint-mobile {
    margin-left: 10px;
  }

  @include breakpoint-tablet {
    margin-left: 10px;
    font-size: 16px;
  }

  @include breakpoint-desktop {
    margin-left: 13px;
  }
}

.field__required {
  margin-left: 2px;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: $color-form-error;
}

.field__input {
  padding: 16px 12px 15px;
  font-family: inherit;
  font-size: 16px;
  line-height: 125%;
  border: 1px solid $color-accent-secondary;
  border-radius: 20px;

  &:hover,
  &:active {
    border-color: $color-link-hover;
  }

  &:focus {
    border-color: $color-btn-hover;
  }

  &:not(:placeholder-shown):invalid {
    border-color: $color-form-error;
  }

  &::placeholder {
    color: $color-form-disabled;
  }

  .field-group__item--address & {
    @include breakpoint-mobile {
      min-height: 88px;
    }
  }

  .field-group__item--comment & {
    @include breakpoint-mobile {
      min-height: 124px;
    }

    @include breakpoint-tablet {
      min-height: 144px;
    }
  }
}

.field__error-text {
  font-size: 16px;
  line-height: 125%;
  color: $color-form-error;
}
