
.form-header {
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: contain;

  @include breakpoint-mobile {
    padding: 184px 0 20px;
    background-size: 100% 120px;
    background-image: url("../../images/footer-header-background-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/footer-header-background-mobile@2x.jpg");
    }
  }

  @include breakpoint-tablet {
    padding: 300px 0 10px;
    background-size: 100% 200px;
    background-image: url("../../images/footer-header-background-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/footer-header-background-tablet@2x.jpg");
    }
  }

  @include breakpoint-desktop {
    background-image: url("../../images/footer-header-background-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../../images/footer-header-background-desktop@2x.jpg");
    }
  }
}

.form-header__title {
  @include breakpoint-mobile {
    margin-bottom: 32px;
  }

  @include breakpoint-tablet {
    margin-bottom: 52px;
  }

  @include breakpoint-desktop {
    margin-bottom: 48px;
  }
}

.form-header__text {
  margin: 0;

  line-height: 122%;
  text-align: center;

  @include breakpoint-mobile {
    font-size: 16px;
    margin-bottom: 17px;
    padding: 0 27px;
  }

  @include breakpoint-tablet {
    font-size: 18px;
    padding: 0 130px;
    margin-bottom: 26px;
  }

  @include breakpoint-desktop {
    margin-bottom: 36px;
    padding: 0 300px;
  }
}

.form-header__break {
  display: none;

  @include breakpoint-mobile {
    &--mobile {
      display: block;
    }
  }
}
