.news-card {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 2px solid $color-accent-secondary;
  border-radius: 40px;

  @include pseudo($absolute: true) {
    left: 50%;
    transform: translateX(-50%);
    background-image: url("../../images/news-card-decoration-icon.svg");
    background-repeat: no-repeat;

    @include breakpoint-mobile {
      width: 76px;
      height: 32px;
      bottom: 24px;
    }

    @include breakpoint-tablet {
      bottom: 42px;
      width: 96px;
      height: 40px;
    }

    @include breakpoint-desktop {
      bottom: 44px;
    }
  }

  @include breakpoint-mobile {
    gap: 12px;
    padding: 32px 20px 71px;

    &--mix {
      padding: 32px 18px 71px;
    }
  }

  @include breakpoint-tablet {
    gap: 17px;
    min-height: 494px;
    width: 348px;
    padding: 32px 36px 103px;

    &--mix {
      margin-right: 10px;
      padding: 32px 30px 104px 36px;
    }
  }

  @include breakpoint-desktop {
    gap: 16px;
    min-height: 492px;
    width: 360px;
    padding: 32px 36px 108px;

    &--mix {
      margin-right: 0;
    }

    &--fresh {
      padding: 32px 34px 108px 36px;
    }
  }
}

.news-card__title {
  display: block;
  margin: 0;
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  text-align: center;


  @include breakpoint-mobile {
    min-height: 68px;
    line-height: 24px;

    &--fresh {
      padding-top: 10px;
    }

    &--discount {
      line-height: 22px;
    }

    &--mix {
      padding-top: 20px;
    }
  }

  @include breakpoint-tablet {
    min-height: 100px;
    font-size: 28px;

    &--fresh {
      padding-top: 15px;
      line-height: 32px;
    }

    &--discount {
      line-height: 32px;
    }

    &--mix {
      padding-top: 35px;
      line-height: 32px;
    }
  }

  @include breakpoint-desktop {
    min-height: 96px;

    &--mix {
      padding-top: 30px;
    }
  }
}

.news-card__text {
  margin: 0;
  min-height: 180px;
  text-align: left;

  @include breakpoint-mobile {
    min-height: 180px;
  }

  @include breakpoint-tablet {
    min-height: 196px;
  }
}

.news-card__date {
  align-self: self-end;
  margin: 0;

  @include breakpoint-tablet {
    margin-top: 1px;
  }

  @include breakpoint-tablet {
    margin-top: 0;
  }
}

.news-card__break {
  display: none;

  @include breakpoint-mobile {
    &--mobile {
      display: block;
    }
  }

  @include breakpoint-tablet {
    &--tablet {
      display: block;
    }
  }

  @include breakpoint-desktop {
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
