.social {
  display: flex;
  flex-wrap: wrap;
  align-content: center;

  @include reset-list;

  @include breakpoint-mobile {
    gap: 20px;
  }

  @include breakpoint-tablet {
    min-width: 184px;
    gap: 32px;
  }
}

.social__item {
  display: flex;

  @include breakpoint-tablet {
    padding: 7px 0 0;
  }

  @include breakpoint-desktop {
    padding: 0;
  }
}

.social__link {
  @include social-link;
}

.social__icon {
  margin: auto;

  @include breakpoint-mobile {
    &--telegram {
      margin: 4px 6px 6px 4px;
    }
  }

  @include breakpoint-tablet {
    &--telegram,
    &--youtube {
      width: 24px;
      height: 24px;
    }

    &--telegram {
      margin: 7px 9px 9px 7px;
    }

    &--vkontakte {
      width: 24px;
      height: 19px;
    }
  }
}
